language: cpp
dist: xenial
compiler: gcc
sudo: true

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH and RQG_BRANCH can be redefined in travis settings, currently only globally (for all branches),
    #   by SERVER_BRANCH_OVERRIDE and RQG_BRANCH_OVERRIDE correspondingly.
    # - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not,
    #   otherwise keep commented
    # - -export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=bb-10.2-compatibility
    - export RERUN_OLD_SERVER=yes
    #- export RQG_BRANCH=dev
    #- export REBUILD_OLD_SERVER=yes

    - export TEST_DURATION=350
    - export GLOBAL_RQG_OPTIONS="--duration=$TEST_DURATION --threads=6 --seed=time --reporters=Backtrace,ErrorLog,Deadlock --validators=TransformerNoComparator --redefine=conf/mariadb/sp.yy --redefine=conf/mariadb/bulk_insert.yy --mysqld=--log_output=FILE --mysqld=--max-statement-time=8 --mysqld=--lock-wait-timeout=5 --mysqld=--loose-innodb-lock-wait-timeout=3 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --mysqld=--character-set-server=utf8 --mysqld=--collation-server=utf8_general_ci --mysqld=--binlog-format=ROW --mysqld=--innodb-buffer-pool-size=2G --mysqld=--innodb_buffer_pool_instances=8 --mysqld=--innodb_page_cleaners=4 --mysqld=--innodb_stats_sample_pages=32 --mysqld=--innodb_stats_transient_sample_pages=32 --mysqld=--join_buffer_size=4M --mysqld=--join_cache_level=6 --mysqld=--key_buffer_size=64M  --mysqld=--log_bin_trust_function_creators=ON --mysqld=--log_slow_verbosity=innodb,query_plan --mysqld=--lower_case_table_names=1 --mysqld=--optimizer_search_depth=0 --mysqld=--optimizer_switch=index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,index_merge_sort_intersection=off,engine_condition_pushdown=off,index_condition_pushdown=on,derived_merge=on,derived_with_keys=on,firstmatch=on,loosescan=on,materialization=on,in_to_exists=on,semijoin=on,partial_match_rowid_merge=on,partial_match_table_scan=on,subquery_cache=on,mrr=on,mrr_cost_based=on,mrr_sort_keys=off,outer_join_with_cache=on,semijoin_with_cache=on,join_cache_incremental=on,join_cache_hashed=on,join_cache_bka=on,optimize_join_buffer_size=on,table_elimination=on,extended_keys=on,exists_to_in=on,orderby_uses_equalities=on,condition_pushdown_for_derived=on,split_grouping_derived=on --mysqld=--transaction_isolation=READ-COMMITTED --mysqld=--use_stat_tables=PREFERABLY --mysqld=--userstat=ON"


  matrix:
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --mysqld=--performance-schema --views"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --skip-gendata --gendata-advanced --vcols --mysqld=--performance-schema"

    - JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --views"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --skip-gendata --gendata-advanced --vcols"

    - JOB_RQG_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --views"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --skip-gendata --gendata-advanced --vcols"

    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partition_pruning.yy --gendata=conf/partitioning/partition_pruning.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/replication/replication.yy --gendata=conf/replication/replication-5.1.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/optimizer.yy --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/optimizer.yy --skip-gendata --gendata-advanced --vcols"

    - JOB_RQG_OPTIONS="--grammar=conf/optimizer/updateable_views.yy --mysqld=--init-file=\$RQG_HOME/conf/optimizer/updateable_views.init"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --skip-gendata --gendata-advanced --vcols"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/functions.yy --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/functions.yy --skip-gendata --gendata-advanced --vcols"

    - JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --views"
    - JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --skip-gendata --gendata-advanced --vcols"
    - JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --gendata=conf/partitioning/partition_pruning.zz --views"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata --gendata-advanced --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/maria/maria.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/engine_stress.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_pagesize2K.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_backlog.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_data_types.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_pagesize32K.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_data_types_no_year_time.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_recovery.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_chill_thaw.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_blobs.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/falcon/falcon_replication.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/innodb/full_text_search.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/tiny_inserts.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/many_indexes.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/handler.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/engines/varchar.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/runtime/connect_kill_data.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/runtime/metadata_stability.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/runtime/WL5004_data.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/runtime/concurrency_1.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/runtime/alter_online.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/transactions/combinations.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/transactions/transactions.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/partitioning/partition_pruning.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/examples/example.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/dyncol/dyncol_dml.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/translog_percona.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/percona_no_blob.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/many_indexes_percona.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/percona.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/outer_join_percona.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/query_cache_strip_comments.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/innodb_dict_size_limit.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona/bug826632.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication-6.0.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication-dml_data.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication_single_engine_pk.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/rpl_transactions.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication-5.1.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/WL5092_data.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication_single_engine.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/rpl_transactions_nopk.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication-ddl_data.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/replication/replication_innodb_myisam.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona_qa/AL-19549/AL-19549.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona_qa/percona_qa.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona_qa/BT-16274/BT-16274.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/percona_qa/34411/34411.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/translog_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/range_access_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/varchar_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/translog_ordering.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/outer_join_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/drizzledump_migrate.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/combinations_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/drizzle/many_indexes_drizzle.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/temporal/temporal_functions-wl946.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/temporal/temporal_functions.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/temporal/temporal_ranges.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/temporal/current_timestamp.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/temporal/current_timestamp_6.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/gtid_stress.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/optimizer_basic.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/innodb_upgrade_compression.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/innodb_upgrade.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/oltp-aria.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/optimizer_no_indexes.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/multi_update.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/optimizer.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/oltp.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/innodb_compression_encryption.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/galera/galera_stress.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/optimizer/blobs.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/optimizer/range_access2.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/optimizer/outer_join.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/optimizer/range_access.zz --views"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/backup/invariant.zz --views"


install:
  - export TOOLBOX_DIR=$HOME/mariadb-toolbox
  - if [ -n "$TOOLBOX_BRANCH" ] ; then TOOLBOX_BRANCH="--branch $TOOLBOX_BRANCH" ; fi
  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 $TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/export_and_clone.sh
#  - . $SCRIPT_DIR/build_if_not_cached.sh
# Using bb-10.2-compatibility-20620 for now
  - cd $HOME
  - wget -nv http://hasky.askmonty.org/archive/bb-10.2-compatibility/build-20620/kvm-bintar-centos5-amd64/mariadb-10.2.14-linux-x86_64.tar.gz
  - tar zxf mariadb-10.2.14-linux-x86_64.tar.gz
  - rm -rf server
  - mv mariadb-10.2.14-linux-x86_64 server
  - ls /home/travis/server/
  - /home/travis/server/bin/mysqld --version
  - export SERVER_REVISION=bb-10.2-compatibility-20620

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  - export TEST_RQG_OPTIONS="--transformers=ExecuteAsIntersect,ExecuteAsExcept,ExecuteAsCTE,ExecuteAsExecuteImmediate,ExecuteAsUnion,ExecuteAsView,ExecuteAsPreparedTwice --mysqld=--sql_mode=STRICT_TRANS_TABLES"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--transformers=ExecuteAsIntersect,ExecuteAsExcept,ExecuteAsCTE,ExecuteAsExecuteImmediate,ExecuteAsUnion,ExecuteAsView,ExecuteAsPreparedTwice --mysqld=--sql_mode=STRICT_TRANS_TABLES,ORACLE"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--ps-protocol --transformers=ExecuteAsIntersect,ExecuteAsExcept,ExecuteAsCTE,ExecuteAsExecuteImmediate,ExecuteAsUnion,ExecuteAsView --mysqld=--sql_mode=STRICT_TRANS_TABLES"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--ps-protocol --transformers=ExecuteAsIntersect,ExecuteAsExcept,ExecuteAsCTE,ExecuteAsExecuteImmediate,ExecuteAsUnion,ExecuteAsView --mysqld=--sql_mode="
  - . $SCRIPT_DIR/run_single_test.sh

before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
