language: cpp
dist: trusty
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb libnuma1

env:
- TEST_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz"
- TEST_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz"
- TEST_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz"
- TEST_OPTIONS="--grammar=conf/partitioning/partitions.yy"
- TEST_OPTIONS="--grammar=conf/replication/replication.yy --gendata=conf/replication/replication-5.1.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-ddl_sql.yy --gendata=conf/replication/replication-ddl_data.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz"
- TEST_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz"

install:
- cd $HOME
#- export REBUILD_OLD_SERVER=yes
- export RERUN_OLD_SERVER=yes
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=RelWithDebInfo -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=DYNAMIC -DWITH_MARIABACKUP=OFF $CMAKE_EXTRA_OPTIONS"
- if [ -z "$SERVER_BRANCH" ] ; then SERVER=10.2 ; else SERVER=$SERVER_BRANCH ; fi
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- git clone https://github.com/elenst/rqg --branch travis-workarounds rqg
- cd $RQG_HOME && git log -1
- cd $SCRIPT_DIR && git log -1

# --redefine=conf/mariadb/xa.yy
# --mysqld=--max-statement-time=30
- export COMMON_RQG_OPTIONS="--basedir=$BASEDIR --duration=350 --threads=6 --seed=time --engine=RocksDB --reporters=Backtrace,ErrorLog,Deadlock --validators=TransformerNoComparator --views --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/bulk_insert.yy --mysqld=--log_output=FILE  --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --mysqld=--slave-skip-errors=1049,1305,1539,1505,1317 --mysqld=--log_bin_trust_function_creators=1 --mysqld=--default-storage-engine=RocksDB --mysqld=--plugin-load-add=ha_rocksdb --mysqld=--binlog-format=row"

script:

- cd $HOME
- . $SCRIPT_DIR/build_if_not_cached.sh
- cd $RQG_HOME
- mkdir $HOME/logs

# Default binlog format, no parallel replication, no GTID
- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --rpl-mode=row-nosync --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --vardir=$HOME/logs/vardir1_1 2>&1 | tee $HOME/logs/trial1.log

# GTID, default binlog format, parallel replication
# Switching to degenerate parallel=1 to avoid MDEV-16242
- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --rpl-mode=row-nosync --use-gtid=current_pos --mysqld=--slave-parallel-threads=1 --skip-gendata --gendata-advanced --vcols --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --vardir=$HOME/logs/vardir1_2  2>&1 | tee $HOME/logs/trial2.log

# GTID, minimal binlog_row_image
- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --rpl-mode=row-nosync --use-gtid=current_pos --mysqld=--binlog-row-image=minimal --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --vardir=$HOME/logs/vardir1_3 2>&1 | tee $HOME/logs/trial3.log

- cd $HOME
- . $SCRIPT_DIR/collect_failure_info.sh $HOME/logs
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
