language: perl
dist: jessie

sudo: enabled

cache:
  directories:
    - $HOME/server

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb libnuma1

env:
- TEST_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz"
- TEST_OPTIONS="--grammar=conf/runtime/performance_schema.yy  --mysqld=--performance-schema"
- TEST_OPTIONS="--grammar=conf/runtime/information_schema.yy"
- TEST_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz"
- TEST_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz"
- TEST_OPTIONS="--grammar=conf/partitioning/partitions.yy"
- TEST_OPTIONS="--grammar=conf/partitioning/partition_pruning.yy --gendata=conf/partitioning/partition_pruning.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication.yy --gendata=conf/replication/replication-5.1.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-ddl_sql.yy --gendata=conf/replication/replication-ddl_data.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz"
- TEST_OPTIONS="--grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz"
- TEST_OPTIONS="--grammar=conf/runtime/WL5004_sql.yy --gendata=conf/runtime/WL5004_data.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/optimizer.yy --gendata-advanced --skip-gendata"
- TEST_OPTIONS="--grammar=conf/optimizer/updateable_views.yy --mysqld=--init-file=\$RQG_HOME/conf/optimizer/updateable_views.init"
- TEST_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/functions.yy"
- TEST_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz"
- TEST_OPTIONS="--grammar=conf/optimizer/range_access.yy --gendata=conf/optimizer/range_access.zz"
- BUILD_OPTIONS="-DWITH_ASAN=YES" TEST_OPTIONS="--grammar=conf/mariadb/optimizer.yy --gendata --duration=300"
- BUILD_OPTIONS="-DWITH_ASAN=YES" TEST_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz --duration=300"
- BUILD_OPTIONS="-DWITH_ASAN=YES" TEST_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz --duration=300"

install:
- cd $HOME
- export RERUN_OLD_SERVER=yes
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_ROCKSDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"
- export RQG_COMMON_OPTIONS="--duration=400 --threads=6 --redefine=conf/mariadb/instant_add.yy --reporters=Backtrace,ErrorLog,Deadlock --engine=InnoDB -seed=time --basedir=$BASEDIR --mysqld=--max-statement-time=30 --mysqld=--loose-debug_assert_on_not_freed_memory=0"
# SERVER_BRANCH can be redefined in build variables
- if [ -z "$SERVER_BRANCH" ] ; then SERVER=10.3 ; else SERVER=$SERVER_BRANCH ; fi
- git clone https://github.com/elenst/rqg --branch experimental rqg
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- cd $RQG_HOME && git log -1
- cd $SCRIPT_DIR && git log -1

script:

- cd $HOME
- . $SCRIPT_DIR/build_if_not_cached.sh
- cd $RQG_HOME
- mkdir $HOME/logs
- perl $RQG_HOME/runall-new.pl $RQG_COMMON_OPTIONS $TEST_OPTIONS --vardir=$HOME/logs/vardir1_1 2>&1 | tee $HOME/logs/trial1.log
- perl $RQG_HOME/runall-new.pl $RQG_COMMON_OPTIONS $TEST_OPTIONS --scenario=Restart --vardir=$HOME/logs/vardir1_2 2>&1 | tee $HOME/logs/trial2.log
- perl $RQG_HOME/runall-new.pl $RQG_COMMON_OPTIONS $TEST_OPTIONS --rpl-mode=mixed --vardir=$HOME/logs/vardir1_3 2>&1 | tee $HOME/logs/trial3.log
- perl $RQG_HOME/runall-new.pl $RQG_COMMON_OPTIONS $TEST_OPTIONS --mysqld=--innodb-flush-log-at-trx-commit=0 --vardir=$HOME/logs/vardir1_4 2>&1 | tee $HOME/logs/trial4.log
- perl $RQG_HOME/runall-new.pl $RQG_COMMON_OPTIONS $TEST_OPTIONS --mysqld=--loose-innodb-sync-debug --vardir=$HOME/logs/vardir1_5 2>&1 | tee $HOME/logs/trial5.log

- cd $HOME
- . $SCRIPT_DIR/collect_failure_info.sh $HOME/logs
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
