language: cpp
dist: trusty
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:
- TEST_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz"
- TEST_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz"
- TEST_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz"
- TEST_OPTIONS="--grammar=conf/partitioning/partitions.yy"
- TEST_OPTIONS="--grammar=conf/replication/replication.yy --gendata=conf/replication/replication-5.1.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-ddl_sql.yy --gendata=conf/replication/replication-ddl_data.zz"
- TEST_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz"
- TEST_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz"

- TEST_OPTIONS="--grammar=conf/runtime/performance_schema.yy --mysqld=--performance-schema"
- TEST_OPTIONS="--grammar=conf/runtime/information_schema.yy"
- TEST_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz"
- TEST_OPTIONS="--grammar=conf/partitioning/partition_pruning.yy --gendata=conf/partitioning/partition_pruning.zz"
- TEST_OPTIONS="--grammar=conf/mariadb/optimizer.yy"
- TEST_OPTIONS="--grammar=conf/mariadb/functions.yy"


install:

#### Notes:
# - TEST_BRANCH (a.k.a RQG branch) can be redefined in travis settings, currently only globally (for all branches)
# - SERVER_BRANCH can be redefined in  in travis settings, currently only globally (for all branches)
# - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not

- export RERUN_OLD_SERVER=yes

#### Settings generally unique per branch
- SERVER="${SERVER_BRANCH:-bb-10.2-mdev16428}"
- TEST_BRANCH="${TEST_BRANCH:-travis-workarounds}"

- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF $CMAKE_EXTRA_OPTIONS"

#### Settings and actions common for all test branches
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts

- cd $HOME
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- git clone https://github.com/elenst/rqg --branch $TEST_BRANCH rqg
- cd $RQG_HOME
- export TEST_REVISION=`git log -1 --pretty="%H"`
- cd $SCRIPT_DIR && git log -1
- export LOGDIR=$HOME/logs
- mkdir $LOGDIR

#### Settings and actions common for this type of tests
- . $SCRIPT_DIR/build_if_not_cached.sh


script:

- cd $RQG_HOME

- export COMMON_RQG_OPTIONS="--basedir=$BASEDIR --vardir=$LOGDIR/vardir --engine=RocksDB --duration=350 --threads=6 --seed=time --reporters=Backtrace,ErrorLog,Deadlock --validators=TransformerNoComparator --views --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/bulk_insert.yy --mysqld=--log_output=FILE  --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --mysqld=--default-storage-engine=RocksDB --mysqld=--plugin-load-add=ha_rocksdb"

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --skip-gendata --gendata-advanced --vcols --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --ps-protocol --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsSPTwice  > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS --mysqld=--log_bin_trust_function_creators=1 $TEST_OPTIONS  --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --redefine=conf/mariadb/general-workarounds.yy --rpl-mode=row-nosync --use-gtid=current_pos --mysqld=--slave_parallel_mode=optimistic --mysqld=--slave-parallel-threads=8 > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
