language: cpp
dist: xenial
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH and RQG_BRANCH can be redefined in travis settings, currently only globally (for all branches),
    #   by SERVER_BRANCH_OVERRIDE and RQG_BRANCH_OVERRIDE correspondingly.
    # - if RQG_BRANCH_OVERRIDE and RQG_BRANCH are not defined, a default one chosen by the cloning script will be used.
    # - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not,
    #   otherwise keep commented
    # - -export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=10.4
    - export RERUN_OLD_SERVER=yes
    #- export RQG_BRANCH=elenst-dev
    #- export REBUILD_OLD_SERVER=yes

    - export GLOBAL_CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_ROCKSDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"
    
    - export TOOLBOX_DIR=$HOME/mariadb-toolbox
    - export TEST_DURATION=350
    - export GLOBAL_RQG_OPTIONS="--duration=$TEST_DURATION --seed=time --reporters=Backtrace,ErrorLog,Deadlock --scenario=AclUpgrade --grammar=conf/mariadb/modules/acl.yy --mysqld=--log_output=FILE --mysqld=--loose-max-statement-time=10 --mysqld=--lock-wait-timeout=5 --mysqld=--loose-innodb-lock-wait-timeout=3 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --filter=$TOOLBOX_DIR/travis/10.4-combo-filter.ff --basedir1=$HOME/old"

  matrix:

    - OLD=10.3
    - OLD=10.2
    - OLD=10.1
    - OLD=10.0
    - OLD=5.5
    - OLD=mysql-5.7
    - OLD=mysql-5.6
    - OLD=mysql-5.5

install:

  - if [ -n "$TOOLBOX_BRANCH" ] ; then TOOLBOX_BRANCH="--branch $TOOLBOX_BRANCH" ; fi
  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 $TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/export_and_clone.sh
  - . $SCRIPT_DIR/build_if_not_cached.sh

  - . $SCRIPT_DIR/get_old_version.sh $OLD

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  - export TEST_RQG_OPTIONS="--threads=1"
  - . $SCRIPT_DIR/run_single_test.sh
  - cat $LOGDIR/trial.log | grep -v 'Executor:'

  - export TEST_RQG_OPTIONS="--threads=1 --mysqld=--loose-plugin-load-add=auth_pam --mysqld=--loose-plugin-load-add=auth_socket --mysqld=--loose-plugin-load-add=auth_ed25519"
  - . $SCRIPT_DIR/run_single_test.sh
  - cat $LOGDIR/trial.log | grep -v 'Executor:'

  - export TEST_RQG_OPTIONS="--threads=1 --views --redefine=conf/mariadb/sp.yy --redefine=conf/mariadb/modules/admin.yy --redefine=conf/mariadb/modules/userstat.yy --redefine=conf/mariadb/modules/sql_mode.yy"
  - . $SCRIPT_DIR/run_single_test.sh
  - cat $LOGDIR/trial.log | grep -v 'Executor:'

  - export TEST_RQG_OPTIONS="--threads=1 --views --redefine=conf/mariadb/sp.yy --redefine=conf/mariadb/modules/admin.yy --redefine=conf/mariadb/modules/userstat.yy --redefine=conf/mariadb/modules/sql_mode.yy --redefine=conf/mariadb/modules/locks.yy --mysqld=--loose-plugin-load-add=auth_pam --mysqld=--loose-plugin-load-add=auth_socket --mysqld=--loose-plugin-load-add=auth_ed25519"
  - . $SCRIPT_DIR/run_single_test.sh
  - cat $LOGDIR/trial.log | grep -v 'Executor:'

before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
