dist:
- trusty
- jessie

language: cpp
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

script:

- df -kT
- top -n 1
- cat /proc/cpuinfo
- uname -a
- dpkg -l
- printenv
