language: cpp
dist: xenial
compiler: gcc
sudo: true

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH can be redefined in travis settings as 10_3_INNODB_UPGRADE_SERVER_BRANCH
    # - It can be further overridden by the global SERVER_BRANCH_OVERRIDE (legacy)
    # - export RERUN_OLD_SERVER=yes if tests should be run always, 
    #   regardless whether they were run on the same revision or not, otherwise keep commented
    # - export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=${INNODB_UPGRADE_SERVER_BRANCH_10_3:-10.3}
    - export RERUN_OLD_SERVER=yes
    - export RQG_BRANCH=elenst-dev
    - export TOOLBOX_BRANCH=master
    #- export REBUILD_OLD_SERVER=yes
    - export OLD_DATA_LOCATION="ftp://perro.askmonty.org/public/innodb_upgrade_data"
    
    - export TOOLBOX_DIR=$HOME/mariadb-toolbox

    - export GLOBAL_CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_ROCKSDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"

  matrix:

# Having OLD_XX and NEW_XX indicates all combinations, e.g.
# OLD_COMPRESSIONS="none zlib" NEW_COMPRESSIONS="none zlib"
# would end up in 4 tests: none=>none, none=>zlib, zlib=>none, zlib=>zlib
# Having only XX indicates that the value remains intact, e.g.
# COMPRESSIONS="none zlib" would end up in 2 tests: non=>none, zlib=>zlib

    - TYPEs=normal
      OLD=10.2.6
      ENCRYPTIONs="on off"
      PAGE_SIZEs="4K 8K 16K 32K 64K"

    - TYPE=crash
      OLD=10.2.6
      ENCRYPTIONs="on off"
      PAGE_SIZEs="4K 8K 16K 32K 64K"

    - TYPE=undo
      OLD=10.2.6
      ENCRYPTIONs="on off"
      PAGE_SIZEs="4K 8K 16K 32K 64K"

    - TYPEs=normal  
      OLD=10.0
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"
      
    - TYPE=crash
      OLD=10.0
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"

    - TYPE=undo
      OLD=10.0
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"

    - TYPE=normal  
      OLD=10.0.10
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"
      
    - TYPE=crash
      OLD=10.0.10
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"
      
    - TYPE=undo
      OLD=10.0.10
      ENCRYPTIONs="turn_on off"
      PAGE_SIZEs="4K 8K 16K"

install:

  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 --branch=$TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/setup_environment.sh
  - . $SCRIPT_DIR/clone_server.sh
  - . $SCRIPT_DIR/build_if_not_cached.sh

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  - . $SCRIPT_DIR/innodb_static_upgrade_test.sh

  #- cd $HOME
  #- perl $TRAVIS_BUILD_DIR/scripts/parse_upgrade_logs.pl --mode=jira --nowarnings $LOGDIR/trial*
  #- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=kb --nowarnings $LOGDIR/trial*
  #- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=text --nowarnings $LOGDIR/trial*

before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
