language: cpp
dist: xenial
compiler: gcc
sudo: true

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH and RQG_BRANCH can be redefined in travis settings, currently only globally (for all branches),
    #   by SERVER_BRANCH_OVERRIDE and RQG_BRANCH_OVERRIDE correspondingly.
    # - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not,
    #   otherwise keep commented
    # - -export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=10.4
    - export RERUN_OLD_SERVER=yes
    #- export RQG_BRANCH=dev
    #- export REBUILD_OLD_SERVER=yes

    - export GLOBAL_CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_OQGRAPH=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=NO -DWITH_MARIABACKUP=OFF"

    - export TEST_DURATION=350
    - export GLOBAL_RQG_OPTIONS="--duration=$TEST_DURATION --threads=6 --seed=time --short-column-names --reporters=Backtrace,ErrorLog,Deadlock --validators=TransformerNoComparator --transformers=ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsUpdateDelete --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/instant_add.yy --redefine=conf/mariadb/modules/alter_table_columns.yy --redefine=conf/mariadb/modules/alter_table_indexes.yy --redefine=conf/mariadb/bulk_insert.yy  --redefine=conf/mariadb/modules/admin.yy --redefine=conf/mariadb/modules/foreign_keys.yy -redefine=conf/mariadb/modules/locks.yy --redefine=conf/mariadb/modules/sql_mode.yy --redefine=conf/mariadb/redefine_temporary_tables.yy --redefine=conf/mariadb/versioning.yy --redefine=conf/mariadb/sequences.yy --mysqld=--log_output=FILE --mysqld=--max-statement-time=15 --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --mysqld=--innodb-buffer-pool-size=2G"


  matrix:
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --mysqld=--performance-schema --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --gendata=conf/mariadb/innodb.zz --mysqld=--performance-schema --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/WL5004_sql.yy --gendata=conf/runtime/WL5004_data.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=NO" JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --gendata=conf/engines/innodb/full_text_search.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter.ff"

    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --mysqld=--performance-schema --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --gendata=conf/mariadb/innodb.zz --mysqld=--performance-schema --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/engines/many_indexes.yy --gendata=conf/engines/many_indexes.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/engines/engine_stress.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/engines/engine_stress.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/WL5004_sql.yy --gendata=conf/runtime/WL5004_data.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp-transactional.yy --gendata=conf/mariadb/oltp.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp.yy --gendata=conf/mariadb/oltp.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/mariadb/generic-dml.yy --gendata=conf/mariadb/innodb.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"
    - JOB_CMAKE_OPTIONS="-DWITH_ASAN=YES" JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --gendata=conf/engines/innodb/full_text_search.zz --filter=$HOME/mariadb-toolbox/travis/10.4-combo-filter-asan.ff"


install:
  - export TOOLBOX_DIR=$HOME/mariadb-toolbox
  - if [ -n "$TOOLBOX_BRANCH" ] ; then TOOLBOX_BRANCH="--branch $TOOLBOX_BRANCH" ; fi
  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 $TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/export_and_clone.sh
  - . $SCRIPT_DIR/build_if_not_cached.sh

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  - export TEST_RQG_OPTIONS="--scenario=Restart"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--innodb-page-size=8K"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--sql-mode=NO_ENGINE_SUBSTITUTION --mysqld=--innodb-page-size=64K"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--log_bin_trust_function_creators=1 --mysqld=--log-bin --mysqld=--server-id=222 --mysqld=--file-key-management --mysqld=--plugin-load-add=file_key_management --mysqld=--file-key-management-filename=$TOOLBOX_DIR/data/keys.txt --mysqld=--innodb-encrypt-tables --mysqld=--innodb-encrypt-log --mysqld=--innodb-encryption-threads=4 --mysqld=--encrypt-tmp-disk-tables=1"
  - . $SCRIPT_DIR/run_single_test.sh

before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
