language: cpp
dist: trusty
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:
- BUG="MDEV-15376"
  SERVER_BRANCH="10.1"
  TEST_OPTIONS="--duration=350 --seed=1530946075 --reporters=Backtrace,ErrorLog,Deadlock --validators=TransformerNoComparator --views --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/bulk_insert.yy --mysqld=--log_output=FILE --mysqld=--max-statement-time=30 --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --mysqld=--log_bin_trust_function_creators=1 --mysqld=--default-storage-engine=MyISAM --grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz --mysqld=--log-bin --transformers=ExecuteAsDeleteReturning,ExecuteAsInsertSelect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --redefine=conf/mariadb/general-workarounds.yy"
- BUG="MDEV-15376"
  SERVER_BRANCH="10.3"
  TEST_OPTIONS="--no-mask --queries=100M --duration=350 --seed=1519182172 --reporters=Backtrace,ErrorLog --validators=TransformerNoComparator --transformers=ExecuteAsCTE,ExecuteAsDeleteReturning,ExecuteAsExcept,ExecuteAsExecuteImmediate,ExecuteAsInsertSelect,ExecuteAsIntersect,ExecuteAsUnion,ExecuteAsUpdateDelete,ExecuteAsView,ExecuteAsPreparedTwice,ExecuteAsSPTwice --redefine=conf/mariadb/general-workarounds.yy --mysqld=--log_output=FILE --views --vcols --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/bulk_insert.yy --redefine=conf/mariadb/xa.yy --redefine=conf/mariadb/versioning.yy --redefine=conf/mariadb/sequences.yy --mysqld=--log_bin_trust_function_creators=1 --mysqld=--log-bin --mysqld=--loose-max-statement-time=30 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz --engine=InnoDB --mysqld=--lower-case-table-names=1"


install:

#### Notes:
# - TEST_BRANCH (a.k.a RQG branch) can be redefined in travis settings, currently only globally (for all branches)
# - SERVER_BRANCH can be redefined in  in travis settings, currently only globally (for all branches)
# - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not

- export RERUN_OLD_SERVER=yes

#### Settings generally unique per branch
- SERVER="${SERVER_BRANCH:-10.3}"
- TEST_BRANCH="${TEST_BRANCH:-master}"

- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=NO -DWITH_MARIABACKUP=OFF $CMAKE_EXTRA_OPTIONS"

#### Settings and actions common for all test branches
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts

- cd $HOME
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- git clone https://github.com/elenst/rqg --branch $TEST_BRANCH rqg
- cd $RQG_HOME
- export TEST_REVISION=`git log -1 --pretty="%H"`
- cd $SCRIPT_DIR && git log -1
- export LOGDIR=$HOME/logs
- mkdir $LOGDIR

#### Settings and actions common for this type of tests
- . $SCRIPT_DIR/build_if_not_cached.sh


script:

- cd $RQG_HOME

- export COMMON_RQG_OPTIONS="--basedir=$BASEDIR --vardir=$LOGDIR/vardir"

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --threads=6 > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --threads=4 > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --threads=2 > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- perl $RQG_HOME/runall-new.pl $COMMON_RQG_OPTIONS $TEST_OPTIONS --threads=1 > $LOGDIR/trial.log 2>&1
- . $SCRIPT_DIR/collect_single_failure_info.sh

- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
