language: perl
dist: jessie

sudo: enabled

cache:
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb libnuma1

env:
- TYPE=recovery,undo-recovery               PAGE_SIZE=small
- TYPE=normal,crash           OLD=10.0      PAGE_SIZE=small
- TYPE=undo                   OLD=10.0      PAGE_SIZE=small
- TYPE=normal,crash           OLD=10.0.14   PAGE_SIZE=small
- TYPE=undo                   OLD=10.0.18   PAGE_SIZE=small
- TYPE=normal,crash           OLD=mysql-5.6 PAGE_SIZE=small
- TYPE=undo                   OLD=mysql-5.6 PAGE_SIZE=small

- TYPE=downgrade,crash-downgrade OLD=10.0      PAGE_SIZE=small
- TYPE=downgrade,crash-downgrade OLD=10.0.14   PAGE_SIZE=small

install:


###############################
# Set old and new version here!
- if [ "$OLD" == "10.0" ] ; then OLD=10.0.33 ; fi
- SERVER_BRANCH=mariadb-10.0.34
- export RERUN_OLD_SERVER=yes
###############################
- cd $HOME
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DWITH_SPHINX_STORAGE_ENGINE=OFF -DWITH_TOKUDB_STORAGE_ENGINE=OFF -DWITH_MROONGA_STORAGE_ENGINE=OFF -DWITH_FEDERATED_STORAGE_ENGINE=OFF -DWITH_FEDERATEDX_STORAGE_ENGINE=OFF -DWITH_CONNECT_STORAGE_ENGINE=OFF -DWITH_SPIDER_STORAGE_ENGINE=OFF -DWITHOUT_SPHINX_STORAGE_ENGINE=ON -DWITHOUT_TOKUDB_STORAGE_ENGINE=ON -DWITHOUT_MROONGA_STORAGE_ENGINE=ON -DWITHOUT_FEDERATED_STORAGE_ENGINE=ON -DWITHOUT_FEDERATEDX_STORAGE_ENGINE=ON -DWITHOUT_CONNECT_STORAGE_ENGINE=ON -DWITHOUT_SPIDER_STORAGE_ENGINE=ON"
# SERVER_BRANCH can be redefined in build variables
- if [ -z "$SERVER_BRANCH" ] ; then SERVER=10.0 ; else SERVER=$SERVER_BRANCH ; fi
- git clone https://github.com/elenst/rqg --branch experimental rqg
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- . $SCRIPT_DIR/get_old_version.sh $OLD
- cd $RQG_HOME && git log -1
- cd $SCRIPT_DIR && git log -1

script:

- cd $HOME
- . $SCRIPT_DIR/build_if_not_cached.sh
- cd $RQG_HOME
- perl $RQG_HOME/combinations.pl --new --config=$SCRIPT_DIR/travis_combinations.cc --run-all-combinations-once --force --workdir=$HOME/logs || true
- cd $HOME
- . $SCRIPT_DIR/collect_failure_info.sh $HOME/logs || true
#- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=jira --nowarnings $HOME/logs/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=kb --nowarnings $HOME/logs/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=text --nowarnings $HOME/logs/trial*
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
