language: cpp
dist: trusty
compiler: gcc
sudo: enabled

cache:
  apt: true
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl


env:
- TYPE=recovery      ENCRYPTION=on                         COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=recovery                                            COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo-recovery ENCRYPTION=on                         COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo-recovery                                       COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo-recovery ENCRYPTION=on                         COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo-recovery                                       COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=on           OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash         ENCRYPTION=on           OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash                                 OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=on           OLD=10.1.13   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.1.10   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash         ENCRYPTION=on           OLD=10.1.22   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash                                 OLD=10.1.10   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1.22   COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1.22   COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1.22   COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1.22   COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=turn_on,off  OLD=10.0                             PAGE_SIZE=small
- TYPE=crash         ENCRYPTION=turn_on,off  OLD=10.0                             PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=10.0                             PAGE_SIZE=small
- TYPE=undo                                  OLD=10.0                             PAGE_SIZE=small
- TYPE=normal        ENCRYPTION=turn_on,off  OLD=10.0.14                          PAGE_SIZE=small
- TYPE=crash         ENCRYPTION=turn_on,off  OLD=10.0.14                          PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=10.0.18                          PAGE_SIZE=small
- TYPE=undo                                  OLD=10.0.18                          PAGE_SIZE=small
- TYPE=normal        ENCRYPTION=turn_on,off  OLD=mysql-5.6                        PAGE_SIZE=small
- TYPE=crash         ENCRYPTION=turn_on,off  OLD=mysql-5.6                        PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=mysql-5.6                        PAGE_SIZE=small
- TYPE=undo                                  OLD=mysql-5.6                        PAGE_SIZE=small

install:

#### Notes:
# - TEST_BRANCH (a.k.a RQG branch) can be redefined in travis settings, currently only globally (for all branches)
# - SERVER_BRANCH can be redefined in  in travis settings, currently only globally (for all branches)
# - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not

#### Settings generally unique per branch

###############################
# Set old and new version here!
- if [ "$OLD" == "10.1" ] ; then OLD=10.1.34 ; fi
- SERVER_BRANCH=mariadb-10.1.35
- export RERUN_OLD_SERVER=yes
###############################

- SERVER="${SERVER_BRANCH:-10.1}"
- TEST_BRANCH="${TEST_BRANCH:-travis-workarounds}"
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=RelWithDebInfo -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"

#### Settings and actions common for all test branches
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts

- cd $HOME
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- git clone https://github.com/elenst/rqg --branch $TEST_BRANCH rqg
- cd $RQG_HOME
- export TEST_REVISION=`git log -1 --pretty="%H"`
- cd $SCRIPT_DIR && git log -1
- export LOGDIR=$HOME/logs

#### Settings and actions common for this type of tests
- . $SCRIPT_DIR/get_old_version.sh $OLD
- . $SCRIPT_DIR/build_if_not_cached.sh


script:

# Dry run will just create a list of combinations, then piped works will re-format it into proper command lines, and run.sh will run them
- cd $RQG_HOME
- perl $RQG_HOME/combinations.pl --new --config=$SCRIPT_DIR/travis_combinations.cc --run-all-combinations-once --force --workdir=$LOGDIR --dry-run | grep perl | sed -e 's/.*\(perl .*\)/\1/g' | perl -e '$num=0; while(<>) {$num++; print; print "\nTRIAL=$num TRIAL_LOG=$ENV{LOGDIR}/trial${num}.log VARDIR=$ENV{LOGDIR}/current1_1 . $ENV{SCRIPT_DIR}/collect_single_failure_info.sh\n\n";}' > $HOME/run.sh
- . $HOME/run.sh

- cd $HOME
#- perl $TRAVIS_BUILD_DIR/scripts/parse_upgrade_logs.pl --mode=jira --nowarnings $LOGDIR/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=kb --nowarnings $LOGDIR/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=text --nowarnings $LOGDIR/trial*
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
