language: perl
dist: jessie

sudo: enabled

cache:
  directories:
    - $HOME/server

before_cache:
  rm -rf $HOME/server/mysql-test

before_install:
- cpanm -n DBI DBD::mysql
- sudo apt-get install libaio1 libaio-dev libjemalloc1 gdb libnuma1

env:
- TYPE=recovery      ENCRYPTION=on                     COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=recovery                                        COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo-recovery ENCRYPTION=on                     COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo-recovery                                   COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo-recovery ENCRYPTION=on                     COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo-recovery                                   COMPRESSION=zlib       PAGE_SIZE=all

- TYPE=normal        ENCRYPTION=on           OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash         ENCRYPTION=on           OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash                                 OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.2      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.2      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.2      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.2      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=on           OLD=10.2.6    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.2.6    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash         ENCRYPTION=on           OLD=10.2.6    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash                                 OLD=10.2.6    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.2.6    COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.2.6    COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.2.6    COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.2.6    COMPRESSION=zlib       PAGE_SIZE=all

- TYPE=normal        ENCRYPTION=on           OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
#- TYPE=crash         ENCRYPTION=on           OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
#- TYPE=crash                                 OLD=10.1      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1      COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1      COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=on           OLD=10.1.13   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=normal                                OLD=10.1.10   COMPRESSION=none,zlib  PAGE_SIZE=all
#- TYPE=crash         ENCRYPTION=on           OLD=10.1.22   COMPRESSION=none,zlib  PAGE_SIZE=all
#- TYPE=crash                                 OLD=10.1.10   COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1.22   COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1.22   COMPRESSION=none       PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=on           OLD=10.1.22   COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=undo                                  OLD=10.1.22   COMPRESSION=zlib       PAGE_SIZE=all
- TYPE=normal        ENCRYPTION=turn_on,off  OLD=10.0                             PAGE_SIZE=small
#- TYPE=crash         ENCRYPTION=turn_on,off  OLD=10.0                             PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=10.0                             PAGE_SIZE=small
- TYPE=undo                                  OLD=10.0                             PAGE_SIZE=small
- TYPE=normal        ENCRYPTION=turn_on,off  OLD=10.0.14                          PAGE_SIZE=small
#- TYPE=crash         ENCRYPTION=turn_on,off  OLD=10.0.14                          PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=10.0.18                          PAGE_SIZE=small
- TYPE=undo                                  OLD=10.0.18                          PAGE_SIZE=small

- TYPE=normal        ENCRYPTION=turn_on,off  OLD=mysql-5.7                        PAGE_SIZE=all
- TYPE=crash         ENCRYPTION=turn_on,off  OLD=mysql-5.7                        PAGE_SIZE=all
- TYPE=undo          ENCRYPTION=turn_on      OLD=mysql-5.7                        PAGE_SIZE=all
- TYPE=undo                                  OLD=mysql-5.7                        PAGE_SIZE=all

- TYPE=normal        ENCRYPTION=turn_on,off  OLD=mysql-5.6                        PAGE_SIZE=small
#- TYPE=crash         ENCRYPTION=turn_on,off  OLD=mysql-5.6                        PAGE_SIZE=small
- TYPE=undo          ENCRYPTION=turn_on      OLD=mysql-5.6                        PAGE_SIZE=small
- TYPE=undo                                  OLD=mysql-5.6                        PAGE_SIZE=small

- TYPE=downgrade        ENCRYPTION=on           OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=downgrade                                OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash-downgrade  ENCRYPTION=on           OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash-downgrade                          OLD=10.2      COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=downgrade        ENCRYPTION=on           OLD=10.2.7    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=downgrade                                OLD=10.2.7    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash-downgrade  ENCRYPTION=on           OLD=10.2.7    COMPRESSION=none,zlib  PAGE_SIZE=all
- TYPE=crash-downgrade                          OLD=10.2.7    COMPRESSION=none,zlib  PAGE_SIZE=all

install:
- cd $HOME
- export BASEDIR=$HOME/server
- export RQG_HOME=$HOME/rqg
- export SCRIPT_DIR=$HOME/mariadb-tests/scripts
- export CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_ROCKSDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DWITH_MARIABACKUP=OFF"
# SERVER_BRANCH can be redefined in build variables
- if [ -z "$SERVER_BRANCH" ] ; then SERVER=10.2 ; else SERVER=$SERVER_BRANCH ; fi
- git clone https://github.com/elenst/rqg --branch experimental rqg
- git clone https://github.com/MariaDB/server --depth=1 --branch $SERVER src
- git clone https://github.com/elenst/mariadb-tests mariadb-tests
- . $SCRIPT_DIR/get_old_version.sh $OLD
- cd $RQG_HOME && git log -1
- cd $SCRIPT_DIR && git log -1

script:

- cd $HOME
- . $SCRIPT_DIR/build_if_not_cached.sh
- cd $RQG_HOME
- perl $RQG_HOME/combinations.pl --new --config=$SCRIPT_DIR/travis_combinations.cc --run-all-combinations-once --force --workdir=$HOME/logs || true
- cd $HOME
- . $SCRIPT_DIR/collect_failure_info.sh $HOME/logs || true
#- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=jira --nowarnings $HOME/logs/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=kb --nowarnings $HOME/logs/trial*
- perl $SCRIPT_DIR/parse_upgrade_logs.pl --mode=text --nowarnings $HOME/logs/trial*
- if [ ! -e $BASEDIR/test_result ] ; then echo $? > $BASEDIR/test_result ; fi
