language: cpp
dist: xenial
compiler: gcc
sudo: false

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH and RQG_BRANCH can be redefined in travis settings, currently only globally (for all branches),
    #   by SERVER_BRANCH_OVERRIDE and RQG_BRANCH_OVERRIDE correspondingly.
    # - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not,
    #   otherwise keep commented
    # - -export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=10.4
    - export RERUN_OLD_SERVER=yes
    #- export RQG_BRANCH=dev
    #- export REBUILD_OLD_SERVER=yes

    - export GLOBAL_CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_OQGRAPH=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=NO"

    # TODO: --vcols temporarily disabled due to the number of problems

    - export TOOLBOX_DIR=$HOME/mariadb-toolbox
    - export TEST_DURATION=350
    - export GLOBAL_RQG_OPTIONS="--duration=$TEST_DURATION --threads=4 --seed=time --reporters=Backtrace,ErrorLog,Deadlock --skip-gendata --gendata-advanced --views --grammar=conf/mariadb/generic-dml.yy --redefine=conf/mariadb/bulk_insert.yy --mysqld=--log_output=FILE --mysqld=--max-statement-time=20 --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0 --filter=$TOOLBOX_DIR/travis/10.4-combo-filter.ff"
    - export ENCRYPTION="--mysqld=--innodb-encrypt-tables --mysqld=--innodb-encrypt-log --mysqld=--innodb-encryption-threads=4 --mysqld=--aria-encrypt-tables=1 --mysqld=--encrypt-tmp-disk-tables=1 --mysqld=--file-key-management --mysqld=--file-key-management-filename=$TOOLBOX_DIR/data/keys.txt --mysqld=--plugin-load-add=file_key_management"


  matrix:

    - JOB_RQG_OPTIONS="--mysqld=--innodb-compression-algorithm=none --engine=InnoDB"
    - JOB_RQG_OPTIONS="--mysqld=--innodb-compression-algorithm=zlib --engine=InnoDB"
    - JOB_RQG_OPTIONS="$ENCRYPTION --mysqld=--innodb-compression-algorithm=none --engine=InnoDB"
    - JOB_RQG_OPTIONS="$ENCRYPTION --mysqld=--innodb-compression-algorithm=zlib --engine=InnoDB"

    - JOB_RQG_OPTIONS="--engine=MyISAM"

    - JOB_RQG_OPTIONS="--engine=Aria"
    - JOB_RQG_OPTIONS="$ENCRYPTION --engine=Aria"

    - JOB_RQG_OPTIONS="--mysqld=--plugin-load-add=ha_rocksdb --mysqld=--binlog-format=row --engine=RocksDB" JOB_CMAKE_OPTIONS="-DPLUGIN_ROCKSDB=YES"


install:
  - if [ -n "$TOOLBOX_BRANCH" ] ; then TOOLBOX_BRANCH="--branch $TOOLBOX_BRANCH" ; fi
  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 $TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/export_and_clone.sh
  - . $SCRIPT_DIR/build_if_not_cached.sh

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  # DML-only test flow
  - export TEST_RQG_OPTIONS="--scenario=MariaBackupFull"
  - . $SCRIPT_DIR/run_single_test.sh

  # TODO: acl.yy temporarily disabled due to the number of problems

  # DML/DDL test flow
  - export TEST_RQG_OPTIONS="--scenario=MariaBackupFull --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/modules/admin.yy --redefine=conf/mariadb/versioning.yy --redefine=conf/mariadb/sequences.yy"
  - . $SCRIPT_DIR/run_single_test.sh


before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
