language: cpp
dist: xenial
compiler: gcc
sudo: true

cache:
  apt: true
  directories:
    - $HOME/server

addons:
  apt:
    packages:
      - libaio1
      - libaio-dev
      - libjemalloc1
      - gdb
      - libnuma1
      - libdbd-mysql-perl

env:

  global:

    #### Notes:
    # - SERVER_BRANCH and RQG_BRANCH can be redefined in travis settings, currently only globally (for all branches),
    #   by SERVER_BRANCH_OVERRIDE and RQG_BRANCH_OVERRIDE correspondingly.
    # - export RERUN_OLD_SERVER=yes if tests should be run always, regardless whether they were run on the same revision or not,
    #   otherwise keep commented
    # - -export REBUILD_OLD_SERVER=yes if the build needs to be done even if there is cached one (rarely needed),
    #   otherwise keep commented

    - export SERVER_BRANCH=bb-10.4-MDEV-17520
    #- export RERUN_OLD_SERVER=yes
    #- export RQG_BRANCH=dev
    #- export REBUILD_OLD_SERVER=yes

    - export GLOBAL_CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_OQGRAPH=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=NO -DWITH_MARIABACKUP=OFF"

    - export TEST_DURATION=350
    - export GLOBAL_RQG_OPTIONS="--duration=$TEST_DURATION --threads=6 --seed=time --reporters=Backtrace,ErrorLog,Deadlock --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/instant_add.yy --redefine=conf/mariadb/bulk_insert.yy --redefine=conf/mariadb/versioning.yy --redefine=conf/mariadb/sequences.yy --redefine=conf/mariadb/redefine_temporary_tables.yy --mysqld=--log_output=FILE --mysqld=--max-statement-time=30 --mysqld=--lock-wait-timeout=5 --mysqld=--loose-innodb-lock-wait-timeout=3 --mysqld=--loose-debug_assert_on_not_freed_memory=0"


  matrix:
  
    - JOB_RQG_OPTIONS="--grammar=conf/drizzle/drizzledump_migrate.yy --gendata=conf/drizzle/drizzle.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/drizzle/proclist_drizzle.yy --gendata=conf/drizzle/drizzle.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/drizzle/range_access_drizzle.yy --gendata=conf/drizzle/drizzle.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/drizzle/drizzledump.yy --gendata=conf/drizzle/drizzle.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/drizzle/drizzledump.yy --gendata=conf/drizzle/drizzle.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/engines/maria/maria_dml_alter.yy --gendata=conf/engines/maria/maria.zz"
    
    - JOB_RQG_OPTIONS="--grammar=conf/engines/falcon/falcon_limit.yy --gendata=conf/engines/falcon/falcon_data_types.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/engines/falcon/falcon_recovery.yy --gendata=conf/engines/falcon/falcon_data_types.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/engines/falcon/falcon_ddl.yy --gendata=conf/engines/falcon/falcon_data_types.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/engines/innodb/full_text_search.yy --gendata=conf/engines/innodb/full_text_search.zz"
    
    - JOB_RQG_OPTIONS="--grammar=conf/engines/handler.yy --gendata=conf/engines/handler.zz"
    
    - JOB_RQG_OPTIONS="--grammar=conf/engines/heap/heap_ddl_multi.yy"
    
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/innodb_compression_encryption.yy --gendata=conf/mariadb/innodb_compression_encryption.zz --mysqld=--plugin-load-add=file_key_management.so"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/optimizer_basic.yy"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/bugs/mdev14021.yy"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/bugs/mdev13918.yy"
    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/range_access.yy"

    - JOB_RQG_OPTIONS="--grammar=conf/mariadb/oltp_and_ddl.yy --gendata=conf/mariadb/oltp.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/optimizer/range_access.yy --gendata=conf/optimizer/range_access.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/optimizer/range_access2.yy --gendata=conf/optimizer/range_access2.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions-ddl.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions-99-range-old.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions_hash_key_less_rand.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions_range_var_nb.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions-wl4571.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions_less_rand.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions_list_less_rand.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions-99-hash.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions_range_less_rand.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions-99-range.yy --gendata=conf/partitioning/partition_pruning.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --gendata=conf/partitioning/partition_pruning.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/AL-19549/AL-19549.yy --gendata=conf/percona_qa/AL-19549/AL-19549.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/percona_qa.yy --gendata=conf/percona_qa/percona_qa.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/BT-16274/BT-16274.yy --gendata=conf/percona_qa/BT-16274/BT-16274.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/5.6/5.6.yy --gendata=conf/percona_qa/percona_qa.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/percona_qa.yy --gendata=conf/percona_qa/percona_qa.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/percona_qa/34411/34411.yy --gendata=conf/percona_qa/34411/34411.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/replication/replication-ddl_sql.yy --gendata=conf/replication/replication-ddl_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/replication/WL5092_sql_1.yy --gendata=conf/replication/WL5092_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/replication/replication-dml_sql.yy --gendata=conf/replication/replication-dml_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/replication/WL5092_sql_2.yy --gendata=conf/replication/WL5092_data.zz"
    
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/WL5004_sql_custom.yy --gendata=conf/runtime/WL5004_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/concurrency_1.yy --gendata=conf/runtime/concurrency_1.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/information_schema.yy"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/performance_schema.yy --mysqld=--performance-schema"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/alter_online.yy --gendata=conf/runtime/alter_online.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/metadata_stability.yy --gendata=conf/runtime/metadata_stability.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/WL5004_sql.yy --gendata=conf/runtime/WL5004_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/runtime/connect_kill_sql.yy --gendata=conf/runtime/connect_kill_data.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/partitioning/partitions.yy --gendata=conf/partitioning/partition_pruning.zz"

    - JOB_RQG_OPTIONS="--grammar=conf/temporal/current_timestamp.yy --gendata=conf/temporal/current_timestamp.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/temporal/current_timestamp_6.yy --gendata=conf/temporal/current_timestamp_6.zz"
    - JOB_RQG_OPTIONS="--grammar=conf/temporal/temporal_ranges.yy --gendata=conf/temporal/temporal_ranges.zz"



install:
  - export TOOLBOX_DIR=$HOME/mariadb-toolbox
  - if [ -n "$TOOLBOX_BRANCH" ] ; then TOOLBOX_BRANCH="--branch $TOOLBOX_BRANCH" ; fi
  - git clone https://github.com/elenst/mariadb-toolbox --depth=1 $TOOLBOX_BRANCH $TOOLBOX_DIR
  - . $TOOLBOX_DIR/travis/export_and_clone.sh
  - . $SCRIPT_DIR/build_if_not_cached.sh

before_script:
  - . $SCRIPT_DIR/collect_system_info.sh
  - . $SCRIPT_DIR/heartbeat.sh &

script:

  - export TEST_RQG_OPTIONS="--mysqld=--loose-file-key-management-filename=$RQG_HOME/conf/mariadb/encryption_keys.txt --engine=InnoDB"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--loose-file-key-management-filename=$RQG_HOME/conf/mariadb/encryption_keys.txt --engine=InnoDB --mysqld=--sql-mode= "
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--loose-file-key-management-filename=$RQG_HOME/conf/mariadb/encryption_keys.txt --engine=InnoDB --mysqld=--log-bin"
  - . $SCRIPT_DIR/run_single_test.sh

  - export TEST_RQG_OPTIONS="--mysqld=--loose-file-key-management-filename=$RQG_HOME/conf/mariadb/encryption_keys.txt"
  - . $SCRIPT_DIR/run_single_test.sh

before_cache:
  - rm -rf $HOME/server/mysql-test
  - if [ ! -e $HOME/server/test_result ] ; then echo $TRAVIS_TEST_RESULT > $HOME/server/test_result; fi
