variables:

  # Branches
  SERVER_BRANCH: 10.4
  RQG_BRANCH: elenst-dev
  TOOLBOX_BRANCH: master

  # Locations
  TOOLBOX_DIR: $(HOME)/mariadb-toolbox
  RQG_HOME: $(HOME)/rqg
  SCRIPT_DIR: $(TOOLBOX_DIR)/travis
  BASEDIR: $(HOME)/server
  LOGDIR: $(HOME)/logs
  SRCDIR: $(HOME)/src

  # Global build options
  GLOBAL_CMAKE_OPTIONS: "-DCMAKE_BUILD_TYPE=Debug -DPLUGIN_SPHINX=NO -DPLUGIN_OQGRAPH=NO -DPLUGIN_TOKUDB=NO -DPLUGIN_MROONGA=NO -DPLUGIN_FEDERATED=NO -DPLUGIN_FEDERATEDX=NO -DPLUGIN_CONNECT=NO -DPLUGIN_SPIDER=NO -DPLUGIN_ROCKSDB=NO -DWITH_MARIABACKUP=OFF"

  # Global test options
  TEST_DURATION: 400
  GLOBAL_RQG_OPTIONS: "--duration=$(TEST_DURATION) --threads=6 --seed=time --reporters=Backtrace,ErrorLog,Deadlock --views --redefine=conf/mariadb/alter_table.yy --redefine=conf/mariadb/instant_add.yy --redefine=conf/mariadb/modules/alter_table_columns.yy --redefine=conf/mariadb/sp.yy --redefine=conf/mariadb/bulk_insert.yy  --redefine=conf/mariadb/modules/admin.yy --redefine=conf/mariadb/modules/userstat.yy --redefine=conf/mariadb/modules/foreign_keys.yy -redefine=conf/mariadb/modules/locks.yy --redefine=conf/mariadb/modules/sql_mode.yy --redefine=conf/mariadb/modules/acl.yy --redefine=conf/mariadb/versioning.yy --redefine=conf/mariadb/sequences.yy --redefine=conf/mariadb/modules/locks-10.4-extra.yy --filter=$(SCRIPT_DIR)/10.4-combo-filter.ff"
  GLOBAL_MYSQLD_OPTIONS: "--mysqld=--log_output=FILE --mysqld=--max-statement-time=30 --mysqld=--lock-wait-timeout=10 --mysqld=--loose-innodb-lock-wait-timeout=5 --mysqld=--loose-debug_assert_on_not_freed_memory=0"
  
  # Initialize JOB options (in case we forget to do it later)
  JOB_CMAKE_OPTIONS: ""
  JOB_RQG_OPTIONS: ""
  JOB_MYSQLD_OPTIONS: ""

jobs:

#########
- job: Prepare_server
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    parallel: 1

  steps:

  # Check if the server has already been built and stored
  - script: |
      set -x
      REMOTE_REVISION=`wget -O - https://github.com/MariaDB/server/tree/10.3 | grep -A 2 "Latest commit$" | tail -n 1 | sed -e 's/ //g'`
      echo "Remote revision: $REMOTE_REVISION"
      wget -O - https://github.com/MariaDB/server/tree/10.3 | grep -A 2 "Latest commit$"
      echo '##vso[task.setvariable variable=IS_OLD_BUILD;isOutput=true]false'
      if wget ftp://ftp.askmonty.org/private/azure/build-$(SERVER_BRANCH)-$REMOTE_REVISION.tar.gz ; then mv build-$(SERVER_BRANCH)-$REMOTE_REVISION.tar.gz build.tar.gz ; echo '##vso[task.setvariable variable=IS_OLD_BUILD;isOutput=true]true' ; fi
    workingDirectory: $(Build.ArtifactStagingDirectory)
    displayName: 'Check if the binaries exist'
    name: get_binaries

  # Install libraries and build the server
  - script: |
      set -x
      sudo apt-get update
      sudo apt-get install -y -q \
        apt-utils build-essential cmake python-dev sudo git \
        devscripts equivs libcurl4-openssl-dev \
        ccache python3 python3-pip curl libssl-dev libzstd-dev \
        libevent-dev dpatch gawk gdb libboost-dev libcrack2-dev \
        libjudy-dev libnuma-dev libsnappy-dev libxml2-dev \
        unixodbc-dev uuid-dev fakeroot iputils-ping \
        libncurses5-dev libbison-dev
      git clone "https://github.com/MariaDB/server" --depth=1 --branch=$(SERVER_BRANCH) $(SRCDIR)
      mkdir $(BASEDIR)
      mkdir $(HOME)/out-of-source
      cd $(HOME)/out-of-source
      cmake $(SRCDIR) $(GLOBAL_CMAKE_OPTIONS) $(JOB_CMAKE_OPTIONS) -DCMAKE_INSTALL_PREFIX=$(BASEDIR)
      make -j4
      make install
      cd $(SRCDIR)
      rev=`git log -1 --pretty="%h"`
      echo "Revision: $rev"
      git log -1 --pretty="%h"
      echo "##vso[task.setvariable variable=SERVER_REVISION;isOutput=true]$rev"
      echo $(SERVER_BRANCH) $(SERVER_REVISION) > $(BASEDIR)/server.version
      echo '##vso[task.setvariable variable=IS_OLD_BUILD;isOutput=true]false'
    condition: and(succeeded(), eq(variables['get_binaries.IS_OLD_BUILD'], 'false'))
    displayName: 'Build server'
    name: build_server

  # Archive and store built binaries
  - task: ArchiveFiles@2
    condition: and(succeeded(), eq(variables['build_server.IS_OLD_BUILD'], 'false'))
    inputs:
      rootFolderOrFile: $(BASEDIR)
      includeRootFolder: false
      archiveType: 'tar'
      tarCompression: 'gz'
      archiveFile:  $(Build.ArtifactStagingDirectory)/build-$(SERVER_BRANCH)-$(build_server.SERVER_REVISION).tar.gz
    displayName: 'Archive build'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: $(Build.ArtifactStagingDirectory)
      artifactName: 'build'
    displayName: 'Store build'

#########
- job: Publish_binaries
  dependsOn: Prepare_server
  condition: succeeded()
  pool:
    vmImage: 'Ubuntu 16.04'

  steps:

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'build'
      targetPath: $(Build.ArtifactStagingDirectory)
    displayName: 'Download build'

  - task: FtpUpload@1
    inputs:
      credentialsOption: 'inputs'
      serverUrl: 'ftp://ftp.askmonty.org'
      username: 'anonymous'
      password: 'foo'
      rootDirectory: '$(Build.ArtifactStagingDirectory)'
      remoteDirectory: '/private/azure/'
    displayName: 'Upload build'

#########
- job: Test
  dependsOn: Prepare_server
  condition: succeeded()
  pool:
    vmImage: 'Ubuntu 16.04'
  variables:
    SERVER_REVISION: $[ dependencies.Prepare_server.outputs['build_server.SERVER_REVISION' ]
  strategy:
    matrix:
      'metadata_stability':
        GRAMMAR: 'conf/runtime/metadata_stability.yy'
        JOB_RQG_OPTIONS: "--gendata=conf/runtime/metadata_stability.zz"
        JOB_MYSQLD_OPTIONS: ""
      'performance_schema':
        GRAMMAR: 'conf/runtime/performance_schema.yy'
        JOB_MYSQLD_OPTIONS: "--mysqld=--performance-schema"
      'information_schema':
        GRAMMAR: 'conf/runtime/information_schema.yy'
        JOB_RQG_OPTIONS: ""
        JOB_MYSQLD_OPTIONS: ""
      'many_indexes-InnoDB':
        GRAMMAR: 'conf/engines/many_indexes.yy'
        JOB_RQG_OPTIONS: "--gendata=conf/engines/many_indexes.zz --engine=InnoDB"
      'many_indexes-Aria':
        GRAMMAR: 'conf/engines/many_indexes.yy'
        JOB_RQG_OPTIONS: "--gendata=conf/engines/many_indexes.zz --engine=Aria"
        JOB_MYSQLD_OPTIONS: ""
      'engine_stress-InnoDB':
        GRAMMAR: 'conf/engines/engine_stress.yy'
        JOB_RQG_OPTIONS: "--gendata=conf/engines/engine_stress.zz --engine=InnoDB"
        JOB_MYSQLD_OPTIONS: ""
      'engine_stress-Aria':
        GRAMMAR: 'conf/engines/engine_stress.yy'
        JOB_RQG_OPTIONS: "--gendata=conf/engines/engine_stress.zz --engine=Aria"
        JOB_MYSQLD_OPTIONS: ""

  steps:

  - script: printenv

  # Restore pre-built binaries
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'build'
      targetPath: $(Build.ArtifactStagingDirectory)
    displayName: 'Download build'

  - task: ExtractFiles@1
    inputs:
      archiveFilePatterns: '$(Build.ArtifactStagingDirectory)/build-$(SERVER_BRANCH)-$(SERVER_REVISION).tar.gz'
      destinationFolder: $(BASEDIR)
    displayName: 'Extract build'

  - script: |
      set -x
      sudo apt-get update
      sudo apt-get install -y -q libdbi-perl libdbd-mysql-perl libsnappy1v5 gdb
    displayName: 'Install runtime packages'

  - script: |
      set -x
      echo "Agent.JobName: " $(Agent.JobName)
      git clone "https://github.com/elenst/mariadb-toolbox" --depth=1 --branch=$(TOOLBOX_BRANCH) $(TOOLBOX_DIR)
      git clone "https://github.com/MariaDB/randgen" --depth=1 --branch=$(RQG_BRANCH) $(RQG_HOME)
      mkdir $(LOGDIR)
      mv $(BASEDIR)/server.version $(LOGDIR)/versions
      cd $(RQG_HOME)
      echo "randgen:" $(RQG_BRANCH) `git log -1 --pretty="%h"` >> $(LOGDIR)/versions
      cd $(TOOLBOX_DIR)
      echo "mariadb-toolbox:" $(TOOLBOX_BRANCH) `git log -1 --pretty="%h"` >> $(LOGDIR)/versions
    displayName: 'Clone tools and get versions'

  - script: |
      set -xo pipefail
      cd $(RQG_HOME)
      perl ./runall-new.pl --basedir=$(BASEDIR) --vardir=$(LOGDIR)/vardir $(GLOBAL_RQG_OPTIONS) $(JOB_RQG_OPTIONS) --grammar=$(GRAMMAR) $(GLOBAL_MYSQLD_OPTIONS) $(JOB_MYSQLD_OPTIONS) 2>&1 | tee $(LOGDIR)/trial.log
    displayName: 'Run test'

  - script: |
      for f in $(LOGDIR)/versions `find $(LOGDIR) -name mysql*.err` ; do echo "################## $f ##################" ; cat $f | grep -v -f $(SCRIPT_DIR)/server_warnings.supp ; done
      for c in `find $(LOGDIR) -name core*` ; do echo "################## $c ##################" ; binary=`gdb --batch --eval-command="bt" 1 $c 2>&1 | grep 'Core was generated by' | sed -e 's/^Core was generated by \`\([^ ]*\) .*/\1/'` ; gdb --batch --eval-command="thread apply all bt" $binary $c;  done
      rm -rf $(Build.ArtifactStagingDirectory)/*
    displayName: 'Collect failure info'
    condition: always()

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: $(LOGDIR)
      includeRootFolder: false
      archiveType: 'tar'
      tarCompression: 'gz'
      archiveFile:  $(Build.ArtifactStagingDirectory)/data-$(Build.BuildNumber)-$(Agent.jobName).tar.gz
    displayName: 'Archive test data'
    condition: always()

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: $(Build.ArtifactStagingDirectory)
      artifactName: 'data'
    displayName: 'Store test data'
    condition: always()

